VITE_SUPABASE_URL=https://nanhokyuiunadovjbggz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hbmhva3l1aXVuYWRvdmpiZ2d6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzMjk0MTcsImV4cCI6MjEwNTkwNTQxN30.WpMu3Au_StkCEp5QKKDYTvUTdzUxIoeEHW8YZ2zmFrE
